<!doctype html>
<html>
  <head>

	<title>Car website </title>
	<meta name="description" content="Car website">
	<!-- Latest compiled and minified CSS -->
	 <!-- Latest compiled and minified CSS -->
  </head>


<body data-spy="scroll" data-target="#my-navbar">




    <form  action="/results" method=post>
     <h4>buying price</h4>
      <select name="buying_price">
        <option value="low">low</option>
        <option value="med">med</option>
        <option value="high">high</option>
        <option value="vhigh">vhigh</option>
      </select>
        <h4>maintenance price</h4>
      <select name="maintenance_price">
        <option value="low">low</option>
        <option value="med">med</option>
        <option value="high">high</option>
        <option value="vhigh">vhigh</option>
      </select>
        <h4>number of doors</h4>
       <select name="number_of_doors">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5more">5more</option>
      </select>
         <h4>person capacity</h4>
        <select name="person_capacity">
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="more">more</option>
      </select>
         <h4>luggage boot</h4>
        <select name="luggage_boot">
        <option value="small">small</option>
        <option value="med">med</option>
        <option value="big">big</option>
      </select>
         <h4>safety</h4>
        <select name="safety">
        <option value="low">low</option>
        <option value="med">med</option>
        <option value="high">high</option>
      </select>

      <div style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px">

          <input type=submit value='Predict' name='submit_btn'>
      </div>

    </form>









  </body>
</html>